/* ===================================
   ESTILOS GENERALES
=================================== */
body {
  background-color: $color-fondo;
  font-family: $font-principal;
  font-size: 16px;
  color: $color-texto;
  margin: 0;
  padding: 0;
}

h1 {
  color: $color-principal;
  text-align: center;
  font-size: 1.9em;
  font-weight: 700;
}

h2 {
  color: $color-secundario;
  font-size: 1.8em;
  text-align: center;
  font-weight: 600;
}

p {
  font-size: 1.4em;
  text-align: center;
  color: $color-texto-suave;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-texto-oscuro;
  font-weight: bold;
  transition: color $transition-media;

  &:hover {
    color: $color-secundario;
  }
}
