/* MENÚ INTERNO */
.menu-interno {
  font-size: 1.3em;
  background: $color-acento;
  padding: 15px 40px;
  margin-top: 120px;

  ul {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
  }

  a {
    color: $color-texto-oscuro;

    &:hover {
      color: white;
    }
  }
}
