/* VARIABLES */

$color-fondo: #fdfcfb;
$color-principal: #264653;
$color-secundario: #2a9d8f;
$color-acento: #f4a261;
$color-texto: #333;
$color-texto-oscuro: #1f1f1f;
$color-texto-suave: #4a4a4a;
$color-badge: #2a9d8f;

$font-principal: "Sansita", sans-serif;
$font-footer: "Poppins", sans-serif;

$transition-rapida: 0.2s ease;
$transition-media: 0.3s ease;
